# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE settings
.vscode/

# Logs
*.log

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# Package distribution / build artifacts
dist/
build/
*.egg-info/

# Test coverage
.coverage
htmlcov/

# Dependency management
pip-lock.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version